<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Home Page </title>
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Google Fonts 'Roboto' --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/css/navbar.css" />
    <link rel="stylesheet" href="/public/css/home-page.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
  </head>
  <body>

    <div class="container d-flex flex-row align-items-center justify-content-center" style="width: 100vw; max-width: 100vw; height: 30px; padding: 0 100px; font-size: 10px; background-color: pink; gap: 20px;">
      <span id="time-of-day" style="font-weight: bold;"></span>
      <span> Welcome All! </span>
    </div>

    <header></header>

    <div id="home-page">

      <article>
        <h1> Lorem ipsum dolor sit amet </h1>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit
        </span>
        <a href="" style="margin-top: 30px; font-size: 12px; color: #343a40; text-decoration: none;"> Learn More </a>
      </article>

    </div>

    <div id="about-page">

      <img src="/server/Images/jewels-k.jpg" width="400" height="400" />

      <article>
        <span class="material-icons"> diamond </span>
        <h1> Lorem ipsum dolor sit amet </h1>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit
        </span>
        <button type="button"> Let's Look </button>
      </article>

    </div>

    <div id="categories" class="container d-flex flex-column align-items-center justify-content-center">
      <h1> Categories </h1>
      <span>
        Duis aute irure dolor in reprehenderit in voluptate velit
      </span>
      <ul id="category-list" class="container d-flex flew-wrap">

        <div class="category" style="background-image: url('/server/Images/necklace.jpg');">
          <h1> Necklaces </h1>
          <a href="" style="text-decoration: none; font-size: 18px; text-align: center;"> View Collection </a>
        </div>
        <div class="category" style="background-image: url('/server/Images/ring.jpg');">
          <h1> Rings </h1>
          <a href="" style="text-decoration: none; font-size: 18px; text-align: center;"> View Collection </a>
        </div>
        <div class="category" style="background-image: url('/server/Images/bracelet.jpg');">
          <h1> Bracelets </h1>
          <a href="" style="text-decoration: none; font-size: 18px; text-align: center;"> View Collection </a>
        </div>

      </ul>
    </div>

    <div id="new-arrivals">

    </div>

    <div id="facebook-messenger">

      <h1> Send Me A Message On Facebook Messenger </h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" id="facebook-messenger-icon-form" class="bi bi-messenger" viewBox="0 0 16 16">
        <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>

        <defs>
          <linearGradient id="facebook-messenger-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" stop-color="rgba(36,0,14,0.9167017148656338)" />  
            <stop offset="35%" stop-color="rgba(216,35,149,1)" />  
            <stop offset="99%" stop-color="rgba(179,0,255,1)" />   
          </linearGradient>
        </defs>

      </svg>

      <div id="facebook-messenger-iphone" class="container d-flex align-items-center justify-content-center">
        <nav id="facebook-messenger-navbar" class="container d-flex align-items-center justify-content-center">
          <span id="facebook-messenger-time"></span>
          <span class="material-icons"> account_circle </span>
          <span> Hala Mustafa </span>
          <span class="container d-flex flex-column align-items-center justify-content-center">
            <span style="font-size: 12px"> Available </span>
            <span style="border-radius: 100px; background-color: lime; min-width: 8px; max-width: 8px; min-height: 8px; max-height: 8px;"></span>
          </span>
        </nav>
        <form action="/facebook-messenger/sent" method="POST">

          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" id="facebook-messenger-icon-form-mini" class="bi bi-messenger" viewBox="0 0 16 16">
            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
          </svg>
          <span style="font-size: 14px; font-weight: bolder; letter-spacing: 2px;"> Let's connect on messenger! </span>

          <label for="name"> Let's get your name </label>
          <input type="text" name="name" placeholder="enter your name..." style="background-color: white;" />

          <label for="facebook_name"> What is your facebook name? </label>
          <input type="text" name="facebook_name" placeholder="enter your facebook name..." style="background-color: white;" />

          <label for="send_message"> Send Me A Message </label>
          <input type="text" name="send_message" placeholder="send me a message..." />

          <button type="submit" name="send-facebook-message-button">
            <span> Send Message </span>
            <span class="material-icons"> send </span>
          </button>

        </form>

      </div>

    </div>

    <footer></footer>
      
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="/public/js/components/Navbar.js"></script>
    <script src="/public/js/components/Footer.js"></script>

    <script>
      // update the time on the facebook messenger every second
      window.addEventListener("load", function() {
          setInterval(function () {
          var hours = new Date().getHours();
          var minutes = new Date().getMinutes();
          var timeOfDay;
          // its afternoon or evening or even night
          if (hours > 12) {
              timeOfDay = " pm"
          }
          // its morning
          else if (hours < 12) {
              timeOfDay = " am";
          }
          // keep as the 12-hour format; not the 24 hour that it forces.
          if (hours > 12) {
              hours = Math.round(hours - 12);
          }
          // keep minutes as 2 digits
          if (minutes < 10) {
              minutes = "0" + minutes;
          }
          document.querySelector("#facebook-messenger-time").innerHTML = hours + ":" + minutes + timeOfDay;
          document.querySelector("#time-of-day").innerHTML = hours + ":" + minutes + timeOfDay;
          }, 1000);
      })
    </script> 

  </body>
</html>