<head>
	<!-- Stylesheet -->
	<link rel="stylesheet" href="/public/css/shopping-page.css" />
	<link rel="stylesheet" href="/public/css/components/pagination.css" />
</head>

<div id="shopping-page">

  <article>
	<h1> Lorem ipsum dolor sit amet </h1>
	<span>
	  Duis aute irure dolor in reprehenderit in voluptate velit
	</span>
	<a href="" style="margin-top: 30px; font-size: 12px; color: #343a40; text-decoration: none;"> Learn More </a>
  </article>

</div>

<ul id="shopping-catalog">

</ul>

<div id="pagination">

  <button type="button" name="previous_page">
	<span class="material-icons"> arrow_back_ios </span>
	<span> prev pg.</span>
  </button>

  <ul id="pages" class="container d-flex flex-row align-items-center justify-content-center">
	<button type="button" name="" value="0" class="pagination-btn"> 1 </button>
	<button type="button" name="" value="1" class="pagination-btn"> 2 </button>
	<button type="button" name="" value="2" class="pagination-btn"> 3 </button>
  </ul>

  <span id="pagination-abbreviation"> ... </span>
  <span id="pagination-total-pages"> </span>
  <button type="button" name="next_page">
	<span> next pg.</span>
	<span class="material-icons"> arrow_forward_ios </span>
  </button>
</div>

<script src="/public/js/components/Pagination.js"></script>